# golang binaries and debug and test objects
coverage.*
*.coverprofile
*.dll
*.dylib
.env
*.exe
*.exe~
go.work
go.work.sum
*.out
profile.cov
*.so
*.test

# generated video files
*.mp4
*.mov
*.webm
*.mkv
